<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register')}}">
    <div class="card-panel">
        <!-- username -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-portrait prefix"></i>
                <input id="username" name="username" type="text" minlength="4" maxlength="16" pattern="^[a-zA-Z0-9]{4,16}$" class="validate" required />
                <label for="username">Username</label>
                <h6 class="reg">(min 4 charachters)</h6>
            </div>
        </div>
        <!-- password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-key prefix"></i>
                <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,16}$" class="validate" required />
                <label for="password">Password</label>
                <h6 class="reg">(min 5 charachters)</h6>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <button type="submit" class="col s4 btn center-align offset-m3">
                Submit
            </button>
        </div>
    </div>
</form>
