<form action="{{ url_for('search') }}" method="POST">
    <div class="row center-align col s12 md8">
        <div class="input-field col s12 md8">
            <i class="fas fa-search prefix"></i>
            <input type="text" name="query" id="query" minlength="3" class="validate" required />
            <label for="query">Search crystals</label>
            <h6 class="sm">Search for usage, chakra or methods</h6>
            <button type="submit" class="btn">
                <i class="fas fa-search form-btn"></i>
            </button>
            <a href="{{ url_for('view_crystals') }}" class="btn">Reset</a>
        </div>
    </div>
</form>
