{% extends "layout/base.html" %}
{% block content %}
{% include "components/navigation.html" %}
<!-- username won't show properly -->
{% include "components/profile.html" %}

    <ul class="collapsible expandable">
        {% for crystal in crystals %}
        <li>
            <div class="collapsible-header">
                <i class="far fa-gem"></i>
                <h6 id="crystal-name">
                {{ crystal.crystal_name }}
                </h6>
                {% if crystal.is_waterproof == "on" %}
                    <i class="fas fa-tint tooltipped" id="drop-added"
                    data-position="right" data-tooltip="Waterproof Crystal"></i>
                {% endif %}
                {% if crystal.is_sunproof == "on" %}
                    <i class="fas fa-sun tooltipped" id="sun-added"
                    data-position="right" data-tooltip="Sunproof Crystal"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <h6>Color: </h6>
                <p>{{ crystal.color }}</p>
                <h6>Usage: </h6>
                <p>{{ crystal.usage }}</p>
                <h6>Quantity</h6>
                <p>{{ crystal.number_of_crystals }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}