{% extends "layout/base.html" %}
{% block content %}
{% include "components/navigation/user_navigation.html" %}
    <div class="container">
        <div id="add-crystal-bg">
            <div class="opaque-overlay">
                <h3 class="center-align">Edit Crystal</h3>
                {% include "components/flash_message.html" %}
                <div class="row">
                    {% include "components/forms/edit_crystal_form.html" %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}