{% extends "layout/base.html" %}
{% block content %}
{% include "components/navigation.html" %}
<div class="container">
    <div id="add-crystal-bg">
        <div class="opaque-overlay">
            <!-- Button to add a journal enatry-->
            <div>
                <a href="{{}}" class="btn">Write A Journal Entry</a>
            </div>
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    {% if crystals|length > 0 %}
                    <ul class="collapsible expandable">
                        {% for entry in entries %}
                        <li>
                            <div class="collapsible-header">
                                <i class="far fa-gem"></i>
                                <h5 id="journal-date">
                                    {{ .date_used }}
                                </h5>
                                <h6 id="crystal-method">
                                    {{ .name_of_method }}
                                </h6>
                            </div>
                            <!-- Shows entire journal entry-->
                            <div class="collapsible-body">
                                <h6>Crystal: </h6>
                                <p>{{ .crystal_name }}</p>
                                <h6>Notes: </h6>
                                <p>{{ .notes }}</p>
                                <div class="row">
                                    <div class="col s4 center-align">
                                        <a href="{{ }}" class="btn">Edit</a>
                                        <a href="{{ }}" class="btn">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}