@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* ------ Navbar*/
.brand-logo {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    margin-left: 5px;
}

nav {
    background-color: #f0f0f0;
}

nav ul a {
    color: #69677D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

nav .brand-logo {
    color: #69677D;
}

nav a {
    color: #69677D;
}

/* ------ Headings */
h2 {
    font-family: 'Poiret One', cursive;
}

h3 {
    font-family: 'Poiret One', cursive;
}

/* ------ Cards and Forms */
.card {
    color: #69677D;
    background-color: #ECB9AC;
    border-radius: 8px;
    pointer-events: auto;
}

.card a {
    color: #69677D;
    margin-left: 20px;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    font-weight: 500;
}

.card-panel {
    color: #69677D;
    background-color: #EAE0E6;
    border-radius: 8px;
}

.search-bar {
    color: #69677D;
    background-color: rgba(234, 224, 230, 0.2);
    
    padding: 5px;
    margin: 0px 10px;
    border-radius: 20px;
}

form i {
    color: #69677D;
}

.btn {
    color: #69677D;
    background-color: #ECB9AC;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
}

.btn:hover {
    color: #ECB9AC;
    background-color: #69677D
}

/* ------ Background displayed befor logging in */
#crystal-background {
    height: 100vh;
    background: url('../images/background-image.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative; 
    z-index: 0;
}
/* ------ Background displayed after logging in */
#add-crystal-bg {
    height: 100vh;
    background: url('../images/add-crystal-bg-image.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative; 
    z-index: 0;
}

.opaque-overlay {
    position: absolute;
    bottom:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
} 

.container {
    width: 100%;
    max-width: none;
    height: 100vh;
}

/* ------ Flash messages */
.flashes h5 {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}

/* ------ Accordion */
.expandable {
    margin: 6px 10px;
}

.collapsible-header {
    color: #ffffff;
    background-color: #69677D;
    padding: 8px 5px;
    border-bottom: none;
    margin-bottom: 10px;
    border-radius: 8px;
}
}
.collapsible {
    border-top: none;
    border-right: none;
    border-left: none;
}

ul.collapsible.expandable {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#crystal-name {
    color: #ffffff;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#drop-added, #sun-added{
    font-size: 15px;
    margin-right: 0px;
    padding-top: 2px;
}

.collapsible-body {
    color: #000000;;
    background-color: #EAE0E6;
    font-family: 'Open Sans', sans-serif;
}

/* ------ Add crystal */
#drop-add, #sun-add {
    font-size: 20px;
}

.filled-in {
    color: #69677D;
}