{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2">
        <div class="card-panel teal">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-portrait prefix">account_circle</i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key prefix">account_circle</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

  {% endblock %}