<div class="input-field col s12">
    <select id="name_of_chakra" name="name_of_chakra" class="validate">
        <option value="" disabled selected>Pick a Chakra</option>
        {% for chakra in chakras %}
            {% if chakra.name_of_chakra == crystal.name_of_chakra %}
                <option value="{{ chakra.name_of_chakra }}" selected>{{ chakra.name_of_chakra }}</option>
            {% else %}
                <option value="{{ chakra.name_of_chakra }}">{{ chakra.name_of_chakra }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="name_of_chakra">Chakra</label>
</div>