    <!-- desktop navbar -->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo left">myCrystals</a>
                <a href="{{ url_for('index') }}" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session.user %}
                        <li><a href="{{ url_for('view_crystals', username=session['user']) }}">Crystals</a></li>
                        <li><a href="{{ url_for('add_crystal') }}">Add Crystal</a></li>
                        <li ><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li ><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--  mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            {% if session.user %}
                <li><a href="{{ url_for('view_crystals', username=session['user']) }}">Crystals</a></li>
                <li><a href="{{ url_for('add_crystal') }}">Add Crystal</a></li>
                <li><a href="{{ url_for('view_entries') }}">Journal</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>